* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #7f8c8d;
  font-family: "freight-sans-pro","Myriad Pro","Myriad",sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
  font-smoothing: antialiased;
}

::-moz-selection {
  background: #e74c3c;
  color: white;
}

::selection {
  background: #e74c3c;
  color: white;
}

ul,
ol {
  padding-left: 2em;
}

ul.unstyled {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

img {
  vertical-align: middle;
  border: 0;
}

canvas,
video {
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  padding: 60px;
  margin: 0;
}

p,
ul,
blockquote,
td,
th,
label,
textarea,
caption,
details,
figure {
  margin: .75em 0 0;
  line-height: 1.7;
}

h1,
h2,
h3,
h4 {
  color: #2c3e50;
  font-weight: normal;
}

h1 {
  margin: 0.6563em 0 0 0;
  font-size: 2.2857em;
  line-height: 1.3126;
}

h2 {
  margin: 0.75em 0 0 0;
  font-size: 2em;
  line-height: 1.5;
}

h3 {
  margin: 0.875em 0 0 0;
  font-size: 1.7143em;
  line-height: 1.75;
}

h4 {
  margin: 1.05em 0 0 0;
  font-size: 1.4286em;
  line-height: 1.05;
}

pre {
  font-size: .8em;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: auto;
  padding: 20px;
  border-radius: 3px;
  margin: 40px;
}

code,
pre,
samp,
kbd {
  white-space: pre-line;
  white-space: pre-wrap;
  font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
  line-height: 1.3em;
}

code,
kbd,
mark {
  border-radius: 2px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  padding: 2px 4px;
}

mark {
  padding: 2px 4px;
  background: #ff0;
}

sup,
sub {
  vertical-align: 0;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

.hidden {
  display: none;
}

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

.mb4 {
  margin-bottom: 40px;
}

li p,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  max-width: 100%;
}

table {
  margin-bottom: 1.5em;
}

body > script {
  display: none !important;
}

.mod {
  overflow: hidden;
}

.clear,
.line,
.row {
  clear: both;
}

.clearfix:after,
.line:after,
.mod:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.row > *,
.col {
  display: table-cell;
  vertical-align: top;
}

.inbl {
  display: inline-block;
  vertical-align: top;
}

.left {
  float: left;
}

img.left {
  margin-right: 1em;
}

.right {
  float: right;
}

img.right {
  margin-left: 1em;
}

img.left,
img.right {
  margin-bottom: 5px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.txtleft {
  text-align: left;
}

.txtright {
  text-align: right;
}

.txtcenter {
  text-align: center;
}

.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
  zoom: 1;
}

.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
  display: inline;
  zoom: 1;
}

.ie8 img {
  width: auto;
}

[class^="autogrid"] {
  text-align: justify;
  font-size: 1px;
  letter-spacing: -1px /* whitespace fi xpart 1 */;
  margin-bottom: 6rem;
}

[class*="autogrid"]:after {
  content: "";
  display: inline-block;
  width: 100%;
}

[class*="autogrid"] > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 16em;
  font-size: 1.6rem;
  letter-spacing: normal /* whitespace fix part 2 */;
  *display: inline *zoom: 1 /* ie6 / ie7 hack */;
}

.autogrid2 > * {
  width: 49%;
  padding: 20px 40px;
  //font-weight: 300;
}

.autogrid3 > * {
  width: 32%;
}

.autogrid4 > * {
  width: 23.6%;
}

.autogrid5 > * {
  width: 19%;
}

.autogrid6 > * {
  width: 15%;
}

.autogrid8 > * {
  width: 10.8%;
}

.autogrid10 > * {
  width: 9%;
}

.autogrid12 > * {
  width: 6.4%;
}

@media (max-width: 1024px) {
  .autogrid5 > *,
  .autogrid6 > *,
  .autogrid8 > *,
  .autogrid10 > *,
  .autogrid12 > * {
    width: 32%;
  }
}

@media (max-width: 768px) {
  .autogrid5 > *,
  .autogrid6 > *,
  .autogrid8 > *,
  .autogrid10 > *,
  .autogrid12 > * {
    width: 49%;
  }
}

@media print {
  p,
  blockquote {
    orphans: 2;
    widows: 2;
  }

  blockquote,
  ul,
  ol {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  caption {
    page-break-after: avoid;
  }
}

@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}

@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

@media (max-width: 925px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 768px) {
  div,
  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 640px) {
  figure {
    padding: 30px;
  }

  /** it's better to have a single container or on body **/

  .article-header,
  .articles,
  .article-footer {
    padding: 0 30px!important;
  }

  .article-body {
    padding: 30px;
  }

  .mod,
  .col,
  fieldset {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  .row {
    display: block !important;
    width: 100% !important;
  }

  th,
  td {
    display: block !important;
    width: auto !important;
    text-align: left !important;
  }

  thead {
    display: none;
  }
}
@font-face {
  font-family: 'maple';
  src: url("bootstrap/././fonts/maple.eot");
  src: url("bootstrap/././fonts/maple.eot?#iefix") format('embedded-opentype'),
		url("bootstrap/././fonts/maple.woff") format('woff'),
		url("bootstrap/././fonts/maple.ttf") format('truetype'),
		url("bootstrap/././fonts/maple.svg#maple") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'maple';
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: ;
  -moz-font-feature-settings: ;
  font-feature-settings: ;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e600";
}

.icon-cross:before {
  content: "\e601";
}

.icon-list:before {
  content: "\e602";
}
.container {
  width: 1170px;
}

.content {
  padding: 60px;
}

.header {
  position: relative;
  min-height: 800px;
  height: 100%;
}

.footer {
  padding: 140px 0;
}

.nav {
  padding-top: 100px;
}

.next {
  padding-bottom: 80px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.next .icon-down {
  line-height: 50px;
  color: #7f8c8d;
  font-size: 2.5em;
}

.scroll {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(233, 233, 233);
  -webkit-transition: .1s all ease-in;
  transition: .1s all ease-in;
}

.scroll:hover {
  cursor: pointer;
  background: #2c3e50;
  /* transform: scale(1.1); */
}

.scroll:hover .icon-down {
  color: white;
}

.link {
  font-size: 1.1em;
  padding: 10px 20px;
  letter-spacing: 2px;
  color: #bdc3c7;
  -webkit-transition: .1s color ease-in;
  transition: .1s color ease-in;
}

.active,
.link:hover {
  color: #e74c3c;
}

.title {
  color: #2c3e50;
  font-weight: normal;
}

.logo {
  font-size: 1.4em;
}

.logo-title {
  color: #bdc3c7;
  margin-top: 0;
}

.slogan {
  font-size: 1.6em;
  font-weight: 300;
}

.logo-img {
  width: 200px;
  height: 198px;
  margin: 80px auto 20px auto;
  display: block;
}

.btn {
  margin: 60px 0;
  background: #e74c3c;
  border: 0;
  outline: 0;
  border-radius: 6px;
  font-size: 1.3em;
  color: white;
  padding: 10px 14px;
  -webkit-transition: .1s background ease-out;
  transition: .1s background ease-out;
}

.btn:hover {
  cursor: pointer;
  background: #7f8c8d;
}


















.button,
.todo-btn,
input[type="checkbox"] {
  outline: none;
}

.todo-btn {
  background: none;
  border: 0;
}

#todoapp {
  position: relative;
  width: 600px;
  background: #fff;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
                                0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
                                0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#todoapp:before {
  content: '';
  border-left: 1px solid #f5d6d6;
  border-right: 1px solid #f5d6d6;
  width: 2px;
  position: absolute;
  top: 0;
  left: 40px;
  height: 100%;
}

.benchmark {
  position: absolute;
  top: -40px;
}

#todoapp input::-webkit-input-placeholder {
  font-style: italic;
}

#todoapp input::-moz-placeholder {
  font-style: italic;
  color: #a9a9a9;
}

#todoapp #header {
  padding-top: 15px;
  border-radius: inherit;
}

#todoapp #header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 15px;
  z-index: 2;
  border-bottom: 1px solid #6c615c;
  background: #8d7d77;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
  background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)), to(rgba(101, 84, 76, 0.8)));
  background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

#new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  -webkit-box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.02);
  z-index: 2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#main {
  position: relative;
  z-index: 2;
  border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
  display: none;
}

#toggle-all {
  position: absolute;
  top: -42px;
  left: -4px;
  width: 40px;
  text-align: center;
  /* Mobile Safari */
  border: none;
}

#toggle-all:before {
  content: '»';
  font-size: 28px;
  color: #d9d9d9;
  padding: 0 25px 7px;
}

#toggle-all:checked:before {
  color: #737373;
}

#todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px dotted #ccc;
}

#todo-list li:last-child {
  border-bottom: none;
}

#todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

#todo-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

#todo-list li.editing .view {
  display: none;
}

#todo-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  /* Mobile Safari */
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#todo-list li .toggle:after {
  content: '✔';
  /* 40 + a couple of pixels visual adjustment */
  line-height: 43px;
  font-size: 20px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}

#todo-list li label {
  white-space: pre;
  word-break: break-word;
  padding: 15px 60px 15px 15px;
  margin: 0 0 0 45px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

#todo-list li.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}

#todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#todo-list li .destroy:hover {
  text-shadow: 0 0 1px #000,
                                 0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#todo-list li .destroy:after {
  content: '✖';
}

#todo-list li:hover .destroy {
  display: block;
}

#todo-list li .edit {
  display: none;
}

#todo-list li.editing:last-child {
  margin-bottom: -1px;
}

#footer {
  color: #777;
  padding: 0 15px;
  position: absolute;
  right: 0;
  bottom: -31px;
  left: 0;
  height: 20px;
  z-index: 1;
  text-align: center;
}

#footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 31px;
  left: 0;
  height: 50px;
  z-index: -1;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
                                0 6px 0 -3px rgba(255, 255, 255, 0.8),
                                0 7px 1px -3px rgba(0, 0, 0, 0.3),
                                0 43px 0 -6px rgba(255, 255, 255, 0.8),
                                0 44px 2px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
                                0 6px 0 -3px rgba(255, 255, 255, 0.8),
                                0 7px 1px -3px rgba(0, 0, 0, 0.3),
                                0 43px 0 -6px rgba(255, 255, 255, 0.8),
                                0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
  float: left;
  text-align: left;
}

#filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

#filters li {
  display: inline;
}

#filters li a {
  color: #83756f;
  margin: 2px;
  text-decoration: none;
}

#filters li a.selected {
  font-weight: bold;
}

#clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  padding: 0 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#info {
  margin: 65px auto 0;
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}

#info a {
  color: inherit;
}

/*
        Hack to remove background from Mobile Safari.
        Can't use it globally since it destroys checkboxes in Firefox and Opera
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #toggle-all,
  #todo-list li .toggle {
    background: none;
  }

  #todo-list li .toggle {
    height: 40px;
  }

  #toggle-all {
    top: -56px;
    left: -15px;
    width: 65px;
    height: 41px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
  }
}

.hidden {
  display: none;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #C5C5C5;
  border-bottom: 1px dashed #F7F7F7;
}

.learn a {
  font-weight: normal;
  text-decoration: none;
  color: #b83f45;
}

.learn a:hover {
  text-decoration: underline;
  color: #787e7e;
}

.learn h3,
.learn h4,
.learn h5 {
  margin: 10px 0;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

.learn h3 {
  font-size: 24px;
}

.learn h4 {
  font-size: 18px;
}

.learn h5 {
  margin-bottom: 0;
  font-size: 14px;
}

.learn ul {
  padding: 0;
  margin: 0 0 30px 25px;
}

.learn li {
  line-height: 20px;
}

.learn p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
}

.quote {
  border: none;
  margin: 20px 0 60px 0;
}

.quote p {
  font-style: italic;
}

.quote p:before {
  content: '“';
  font-size: 50px;
  opacity: .15;
  position: absolute;
  top: -20px;
  left: 3px;
}

.quote p:after {
  content: '”';
  font-size: 50px;
  opacity: .15;
  position: absolute;
  bottom: -42px;
  right: 3px;
}

.quote footer {
  position: absolute;
  bottom: -40px;
  right: 0;
}

.quote footer img {
  border-radius: 3px;
}

.quote footer a {
  margin-left: 5px;
  vertical-align: middle;
}

.speech-bubble {
  position: relative;
  padding: 10px;
  background: rgba(0, 0, 0, .04);
  border-radius: 5px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 30px;
  border: 13px solid transparent;
  border-top-color: rgba(0, 0, 0, .04);
}

.learn-bar > .learn {
  position: absolute;
  width: 272px;
  top: 8px;
  left: -300px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

@media (min-width: 899px) {
  .learn-bar {
    width: auto;
    margin: 0 0 0 300px;
  }

  .learn-bar > .learn {
    left: 8px;
  }

  .learn-bar #todoapp {
    width: 550px;
    margin: 130px auto 40px auto;
  }
}

.showcase {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  overflow: scroll;
}

.toolbar {
  height: 52px;
  margin-bottom: 52px;
  background: #1E1E1E;
}

.toolbar-btn {
  font-size: 1.5em;
  cursor: pointer;
  color: #cccbd0;
  line-height: 52px;
  padding: 0 16px;
  background: rgba(255, 255, 255, .05);
}

.toolbar-btn:hover {
  cursor: pointer;
  color: white;
}

.examples {
  height: 100%;
}

.example {
  height: 100%;
  width: 70%;
}

.examples-list {
  list-style: none;
  width: 20%;
  margin-right: 10%;
  height: 100%;
}

.example-link {
  display: block;
  padding: 0 14px;
  color: grey;
  line-height: 42px;
}

.example-link.selected {
  color: white;
  font-size: 1.3em;
}

.example-link:hover {
  font-size: 1.3em;
  background: rgba(255, 255, 255, .05);
}

.example-title {
  color: white;
}

.stack {
  padding-top: 100px;
}