.container {
	width:1170px;
}

.content {
	padding:60px;
}

.header {
	position:relative;
	min-height: 800px;
	height: 100%;
}

.footer {
	padding:140px 0;
}

.nav {
	padding-top:100px;
}

.next {
	padding-bottom:80px;
	position:absolute;
	width:100%;
	bottom:0;
}

.next .icon-down {
	line-height: 50px;
	color: #7f8c8d;
	font-size: 2.5em;
}

.scroll {
	border:0; outline:0;
	width:50px; height:50px;
	border-radius: 50%;
	background:rgb(233, 233, 233);
	transition:.1s all ease-in;
}

.scroll:hover {
	cursor:pointer;
	background:#2c3e50;
	/* transform: scale(1.1); */
}

.scroll:hover .icon-down {
		color:white;
	}

.link {
	font-size: 1.1em;
	text-transform: uppercase;
	padding:10px 20px;
	letter-spacing: 2px;
	color: #bdc3c7;
}

.active, .link:hover {
	color:#e74c3c;
}

.title {
	color:#2c3e50;
	font-weight: normal;
}
.logo {
	font-size: 1.4em;
}

.logo-title {
	color:#bdc3c7;
	margin-top:0;
}
.slogan {
	font-size: 1.6em;
	font-weight: 300;
}

.logo-img {
	width:200px;
	height:198px;
	margin:80px auto 20px auto;
	display: block;
}

.btn {
	margin:60px 0;
	background:  #e74c3c;
	border:0; outline:0;
	border-radius:6px;

	font-size: 1.3em;
	color:white;
	padding: 10px 14px;
}

.btn:hover {
	cursor:pointer;
	background:rgb(233, 233, 233);
}